%h2
	=@iptest
%p
	=Geocoder.address(@iptest)
	=Geocoder.search(@iptest)
-@locations.each do |location|
	-location.events.each do |event|
		%div
			%h2
				%a
					=link_to(event.name,event_path(event.id))
			%h4
				=event.date