// Place all the styles related to the Timeline controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$grey: #aaa;
$darkgrey: #2c2c2c;
.event-item{
	padding:20px;
	display:block;
	max-width:100%;
	width:100%;
	background: $grey;
	color: #fff;
	border:1px solid $darkgrey;
	height:200px; //Temporary
	z-index:50;
	margin:25px 0;
	position:relative;
	text-align:center;
	.close{
		position:absolute;
		top:5px;
		right:5px;
	}
}
.timeline{
	background: #fff;
	z-index:0;
	*{
		box-sizing: border-box;
	}
	padding: 0 25px;
	position:relative;
	max-width: 100%;
	margin:0 auto;
	.date-item{
		text-align:center;
		padding:25px;
		background:inherit;
	}

	.category_item{
		margin:0 auto
	}
	&:before{
		display:block;
		content:"";
		position:absolute;
		top: 0px;
		height: 100%;
		left:50%;
		width:2px;
		margin-left: -2px;
		background: $grey;
		z-index:-200;
	}
}
